<template>
  <div id="app">
    <b-btn v-b-modal.modal1>Добавить фото</b-btn>
    <b-btn v-b-modal.modal2>Добавить видео</b-btn>

    <div class="card" :style="{'min-height': blockHeight + 'px'}" v-if="images.length > 0">
      <my-vue-draggable-resizable v-for="(image, index) in images" :key="image.id"
                                  :w="width"
                                  :h="height"
                                  :y="image.positionY"
                                  :handles="['tl', 'tr', 'br', 'bl']"
                                  :ratio="image.ratio"
                                  @dragstop="(left, top) => onDragStop(index, left, top)"
                                  @resizestop="(left, top, width, height) => onResizeStop(index, left, top, width, height)"
      >
        <img :src="image.src" :width="image.width" :height="image.height" :ref="'ii'"/>
      </my-vue-draggable-resizable>
    </div>

    <b-modal id="modal1" ref="fileModalRef" title="Выберите файл" hide-footer>
      <b-form-file v-model="file" :state="Boolean(file)" placeholder="Выберите файл..." @change="readFile($event)"></b-form-file>
    </b-modal>

    <b-modal id="modal2" ref="videoModalRef" title="Введите URl видео с YouTube" hide-footer>
      <b-form @submit="readVideo">
        <b-form-group id="exampleyoutubeUrl">
          <b-form-input id="youtubeUrl"
                        v-model="url"
                        required
                        placeholder="Введите URl">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Выбрать</b-button>
      </b-form>
    </b-modal>

  </div>
</template>

<script>
import MyVueDraggableResizable from './components/DraggableResizable'

export default {
  name: 'App',
  components: {
    MyVueDraggableResizable
  },
  data () {
    return {
      showFileModal: true,
      showVideoModal: true,
      file: null,
      width: 100,
      height: 100,
      images: [],
      imagePositions: [],
      url: '',
      blockHeight: 102
    }
  },
  computed: {
    positionY() {
        let imageYPositions = this.imagePositions.map((item, index)=> {
          return item.y + item.h
        });

        return this.imagePositions.length > 0 ? Math.max.apply(null, imageYPositions) + 20 : 0;
      }
  },
  methods: {
    readFile(event) {
      let self = this;
      if (event.target.files && event.target.files[0]) {

        let reader = new FileReader();

        reader.onload = function (e) {

          self.src = e.target.result;
          let image = {
            src: e.target.result,
            width: '100%',
            height: '100%',
            positionY: self.positionY,
            ratio: false
          };
          self.images.push(image);

          self.imagePositions.push({
            y: self.positionY,
            h: self.height
          });

          self.calcHeight();
        };

        reader.readAsDataURL(event.target.files[0]);
        this.$refs.fileModalRef.hide();
      }
    },
    onDragStop(ind, left, top) {
      this.imagePositions[ind].y = top;
      this.calcHeight(ind);
      // if (this.imagePositions[ind].y + this.imagePositions[ind].h > this.blockHeight) {
      //   this.blockHeight = this.imagePositions[ind].y + this.imagePositions[ind].h;
      // }
    },
    onResizeStop (ind, left, top, width, height) {
      this.imagePositions[ind].y = top;
      this.imagePositions[ind].h = height;
      this.calcHeight(ind);
    },
    readVideo (evt) {
      evt.preventDefault();
      let video_id = this.url.split('v=')[1];
      let ampersandPosition = video_id.indexOf('&');
      if(ampersandPosition != -1) {
        video_id = video_id.substring(0, ampersandPosition);
      }

      let src = 'https://img.youtube.com/vi/' + video_id + '/1.jpg';

      let image = {
        src: src,
        width: '100%',
        height: '100%',
        positionY: this.positionY,
        ratio: true
      };
      this.images.push(image);

      this.imagePositions.push({
        y: this.positionY,
        h: this.height
      });
      this.$refs.videoModalRef.hide();
      this.calcHeight();
    },
    calcHeight(ind) {
      let i = 0;
      ind !== undefined ? i = ind : i = this.imagePositions.length-1;

      if (this.imagePositions[i].y + this.imagePositions[i].h > this.blockHeight) {
        this.blockHeight = this.imagePositions[i].y + this.imagePositions[i].h + 2;
      }
    },
  },
}
</script>

<style>
  #app {
    text-align: center;
  }
</style>
